<html>
<head>
 <script type="text/javascript" src="https://mandrillapp.com/api/docs/js/mandrill.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/css/style.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script type="text/javascript" src="/dist/js/main.min.js"></script>
<body>
<h1>SIGN UP FROM HERE</h1>
<h3>will start to create a form and submit button</h3>

<input type="button" id="returnHome" value="HOME" name="returnHome">	
<form id="signUpForm">
	Name:
	<input id="name" type="text" name="name" placeholder="Name"></br>
	SurName:
	<input id="surName" type="text" name="surName" placeholder="Surname"></br>
	E-mail adress:
	<input id="eMail" type="text" name="eMail" placeholder="Email adress"></br>
	Password:
	<input id="psw" type="password" name="psw" placeholder="Password"></br>
	Re-Type your Password:
	<input id="pswAgain" type="password" name="pswAgain" placeholder="Password again please"></br>
	<input id="submit" type="submit" value="Submit" name="submit">
	</br>
</form>
<p>Submit returns you to Home Page</p>
</body>
</html>
