<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/dist/css/style.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script type="text/javascript" src="/dist/js/main.min.js"></script>
	<title>GYMGYM !</title>
</head>
<body>
<div>
ACCOUNT CREATED

Dear <a id="userNameSurname" type="text"></a>,

GYMGYM is pleased to welcome you as a privileged visitor. The username you have chosen to use to log in to your customer account is <a id="eMailAdress"></a> .

For security reasons, we will never send you your password. Be sure to memorize it.

Hope to see you again soon on GYMGYM !
Your GYMGYM,

</div>


</body>
</html>